@import "fonts";

@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

// Swiper
@import "../../node_modules/swiper/swiper.scss";

//Fancybox
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

// ХАК ДЛЯ ТОГО, ЧТОБ ОТКЛЮЧИТЬ :FOCUS ПО КЛИКУ, НО ПОКАЗЫВАТЬ ПРИ ТАБЕ С КЛАВИАТУРЫ

body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none !important;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none !important;
}

// КНОПКА ВВЕРХ

.scroll-to-top {
  bottom: 5rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  z-index: 2;
  background-color: $primary;
  border-radius: $border-radius-lg;
  visibility: hidden;

  svg {
    width: 50%;
    height: auto;

    path {
      fill: $white;
    }
  }
}

// ТИПОГРАФИКА И ШИРОКИЕ ЭЛЕМЕНТЫ ДЛЯ ТЕКСТОВЫХ СТРАНИЦ

.article {
  font-size: 17px;
  line-height: 1.55em;
  font-family: "Roboto";

  >*:last-child {
    margin-bottom: 0 !important;
  }

  h1 {
    font-family: "Montserrat";
    max-width: 800px;
    margin-bottom: 1.5rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat";
    margin-top: 1em;
    margin-bottom: 0.75em;
    max-width: 800px;
  }

  b {
    font-weight: 700;
  }

  p,
  ul,
  ol {
    max-width: 800px;
    margin-bottom: 1.25em;
    font-weight: 300;
  }

  ul,
  ol {
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.55em;
    }

    ul,
    ol {
      margin-top: 0.55em;
      margin-bottom: 0.55em;
    }
  }

  img {
    max-width: 100%;
  }

  .caption {
    padding-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.55;
    max-width: 696px;
  }

  table {
    margin-bottom: 1.75rem;
    @include font-size(0.9375rem);

    caption {
      font-size: 0.875rem;
    }
  }

  &-sm {
    font-size: 15px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      max-width: 100%;
    }

    .caption {
      font-size: 11px;
      max-width: 100%;
    }

    h1 {
      @include font-size(24px);
    }

    h2 {
      @include font-size(22px);
    }

    h3 {
      @include font-size(20px);
    }

    h4 {
      @include font-size(18px);
    }

    h5 {
      @include font-size(16px);
    }

    h6 {
      @include font-size(14px);
    }
  }
}

a[data-fancybox] {
  &:hover {
    cursor: zoom-in;
  }
}

.fit-to-text {
  max-width: 800px;
}

ul {
  li {
    &::marker {
      color: $danger;
    }
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-disabled {
  color: #a1abbb;
}

.link-secondary {
  transition: color 0.15s ease-in-out;

  svg {
    path {
      fill: $secondary;
    }
  }

  &:hover {
    color: $primary !important;

    svg {
      path {
        fill: $primary;
      }
    }
  }
}

.link-dark {
  svg {
    path {
      fill: $dark;
    }
  }

  &:hover {
    color: $primary !important;

    svg {
      path {
        fill: $primary;
      }
    }
  }
}

.btn-secondary {
  svg {
    path {
      fill: $white;
    }
  }
}

.btn-outline-secondary {
  svg {
    path {
      fill: $secondary;
    }
  }

  &:hover {
    svg {
      path {
        fill: $white;
      }
    }
  }
}

.btn-icon {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  &.btn-sm {
    .icon {
      line-height: 0;

      svg {
        height: 11px;
        width: auto;
      }
    }
  }
}

.link-more {
  transition: color 0.15s ease-in-out;

  .icon {
    line-height: 0;

    svg {
      height: 8px;
      width: auto;

      path {
        fill: $primary;
        transition: fill 0.15s ease-in-out;
      }
    }
  }

  &:hover {
    .icon {
      svg {
        path {
          fill: $link-hover-color;
        }
      }
    }
  }
}

.icon,
.caret {
  flex-shrink: 0;

  svg {
    path {
      transition: fill 0.15s ease-in-out;
    }
  }
}

.dropdown {
  &-toggle {
    display: flex;
    flex-wrap: nowrap;
    transition: color 0.15s ease-in-out;

    .caret {
      svg {
        height: 4px;
        width: auto;
      }
    }

    .icon {
      line-height: 1.3;

      svg {
        height: 12px;
        width: auto;
      }
    }

    &:hover {

      .caret,
      .icon {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }

  &-menu {
    box-shadow: $box-shadow-lg;

    &.show {
      animation-name: FadeIn;
      animation-duration: 0.1s;
      animation-timing-function: ease-out;
    }

    .form-check {
      label {
        font-family: "Roboto";
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }

  &-item {
    display: flex;
    transition: color 0.15s ease-in-out;

    .icon {
      line-height: 1.3;

      svg {
        height: 14px;
        width: 14px;
      }
    }

    &:hover {
      .icon {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }
}

@keyframes FadeIn {
  0% {
    margin-top: -1rem;
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.form-floating {
  >label {
    font-size: 15px;
  }

  >.form-control,
  >.form-control-plaintext {

    &:focus,
    &:not(:placeholder-shown) {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:-webkit-autofill {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.form-check {
  .form-check-label {
    margin-top: 1px;
  }

  >* {
    &:hover {
      cursor: pointer;
    }
  }
}

.pagination {
  margin-left: -0.25rem;
  margin-right: -0.25rem;

  .page-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      line-height: 1;
      height: 32px;
      border-radius: $border-radius-sm;

      .icon {
        line-height: 0;

        svg {
          height: 10px;
          width: auto;

          path {
            fill: $secondary;
          }
        }
      }
    }
  }
}

.modal-title {
  line-height: 1.35;
}

.schedule {
  font-size: 13px;
}

.spaced-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }
}

.navbar-toggler {
  --#{$prefix}navbar-color: #{$navbar-light-color};
  --#{$prefix}navbar-toggler-padding-y: 0;
  --#{$prefix}navbar-toggler-padding-x: 0;
  --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size};
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
  --#{$prefix}navbar-toggler-focus-width: #{$navbar-toggler-focus-width};
  --#{$prefix}navbar-toggler-transition: #{$navbar-toggler-transition};
  border: none;
}

.navbar {
  .nav-item {
    .nav-link {
      font-family: "Montserrat";
      font-size: 15px;

      svg {
        path {
          fill: $secondary;
        }
      }

      &:hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }
}

.logo {
  &-header {
    height: 50px;
    width: auto;
  }

  &-footer {
    height: 30px;
    width: auto;
  }
}

.phone {
  &-header {
    font-size: 20px;
  }

  &-footer {
    font-size: 18px;
  }
}

.profile-link {
  display: flex;
  max-width: 300px;
  transition: color 0.15s ease-in-out;

  .icon {
    line-height: 1.3;

    svg {
      height: 14px !important;
    }
  }
}

.search {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  width: 24px;

  &-form-wrap {
    flex-grow: 1;
    width: 0;
    overflow: hidden;
    margin-right: 0.5rem;
  }

  &-toggle {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    margin: 0 -0.5rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .search-show-icon {
        path {
          fill: $primary;
        }
      }

      .search-hide-icon {
        path {
          fill: $gray-600;
        }
      }
    }
  }

  &-show-icon,
  &-hide-icon {
    height: 16px;
  }

  &-show-icon {
    path {
      fill: $secondary;
      transition: fill 0.15s ease-in-out;
    }
  }

  &-hide-icon {
    display: none;

    path {
      fill: $gray-500;
      transition: fill 0.15s ease-in-out;
    }
  }

  &.show {
    width: 100%;

    .search {
      &-form-wrap {
        width: 100%;
        overflow: visible;
        animation: fade-in 0.15s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }

      &-hide-icon {
        display: block;
      }

      &-show-icon {
        display: none;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.search-form {
  position: relative;

  &-input {
    line-height: 1;
    padding: 10px 86px 10px 12px;
    transition: all 0.15s ease-in-out;
  }

  &-btn {
    position: absolute;
    line-height: 1;
    top: 4px;
    right: 4px;
    bottom: 4px;
    height: auto;
    padding: 5px 8px;
    border-radius: 0.4rem;
    font-size: 14px;
  }
}

.autoComplete_wrapper {
  position: relative;

  .no_result {
    font-size: 15px;
    padding: 0.25rem 0.75rem;
  }

  >input {
    text-overflow: ellipsis;
  }

  >ul {
    position: absolute;
    max-height: 226px;
    left: 0;
    right: 0;
    margin: 0.5rem 0 0 0;
    padding: 0.25rem 0;
    z-index: 10;
    list-style: none;
    border-radius: $border-radius;
    background-color: $white;
    border: 1px solid $border-color;
    box-shadow: $box-shadow-lg;
    outline: none;
    transition: opacity 0.15s ease-in-out;

    overflow-y: auto;
    overscroll-behavior-y: contain;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-300;
      border-radius: 999px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }

    >li {
      padding: 0.25rem 0.75rem;
      text-align: left;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: background-color 0.15s ease;

      mark {
        background-color: transparent;
        font-weight: 600;
        padding: 0;
      }

      &:hover {
        cursor: pointer;
        background-color: $light-blue;
      }
    }

    >li[aria-selected="true"] {
      background-color: $light-blue;
    }
  }

  >ul[hidden],
  >ul:empty {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
}

.cookie-alert {
  position: fixed;
  bottom: 1rem;
  z-index: 11;
  margin: 1rem 1rem 0 1rem;
  max-width: 570px;
}

.swiper {
  &-button-lock {
    display: none !important;
  }

  &-button-prev,
  &-button-next {
    width: 32px;
    height: 32px;
    background-color: #bce5f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: auto;
      height: 14px;

      path {
        fill: $secondary;
      }
    }

    &:hover {
      background-color: darken(#bce5f7, 10%);
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;
    }

    &.swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }

    &.swiper-button-hidden {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }
  }

  &-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: darken($light-blue, 3%);
    border-radius: 50%;
    margin-right: 6px;

    &-active {
      background-color: darken($light-blue, 13%);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .sale-banner {
    margin-bottom: 0;
  }
}

.main-slider-control {
  position: absolute;
  right: 2rem;
  bottom: 0;
  z-index: 2;

  &-wrap {
    background-color: $body-bg;
    border-top-left-radius: $border-radius-xl;
    border-top-right-radius: $border-radius-xl;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    left: -2rem;
    bottom: 0;
    height: 0.875rem;
    width: 2rem;
    border-bottom-right-radius: $border-radius-xl;
    box-shadow: 0.875rem 0 0 0 $body-bg;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    right: -2rem;
    bottom: 0;
    height: 0.875rem;
    width: 2rem;
    border-bottom-left-radius: $border-radius-xl;
    box-shadow: -0.875rem 0 0 0 $body-bg;
    z-index: -1;
  }
}

.rates-slider,
.cards-slider {
  .swiper-slide {
    height: auto;
  }
}

.sale-banner {
  height: 100%;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  overflow: hidden;
  margin-bottom: 2rem;

  .row {
    height: 100%;
  }

  &-badge {
    font-size: 14px;
  }

  &-text {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &-title {
    font-size: 1.75rem;
    line-height: 1.35;
  }

  &-date {
    font-size: 14px;
  }

  &-list {
    font-family: "Roboto";
    margin: 0;
    font-size: 15px;

    li {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      .text-decoration-line-through {
        font-size: 13px;
        color: $gray-500;
      }
    }
  }

  &-img {
    position: relative;
    width: 300px;
    height: 100%;
    min-height: 240px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      background: linear-gradient(90deg, rgba($white, 0) 50%, rgba($white, 1) 100%);
    }
  }
}

.main-slider {
  .sale-banner {
    &-img {
      min-height: 480px;
    }
  }
}

.main-banner {
  flex-direction: row;

  &-img {
    position: relative;
    width: 300px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      background: linear-gradient(90deg, rgba($white, 0) 50%, rgba($white, 1) 100%);
    }
  }

  &-title {
    font-size: 1.25rem;
  }

  &-text {
    font-size: 13px;
  }

  .btn {
    width: 100%;
  }
}

.card {
  background-size: auto 52px;
  background-repeat: no-repeat;
  background-position: right 12px bottom 12px;
  background-color: $light-blue;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: darken($light-blue, 3%);
  }

  &-title {
    font-size: 14px;
    line-height: 1.4;
  }

  &-text {
    font-family: "Roboto";
    font-size: 13px;
    color: desaturate($secondary, 10%);
  }

  &-price {
    line-height: 1;
    font-size: 17px;
  }
}

.sidebar {
  .nav {
    flex-direction: column;
  }

  .nav-item {
    max-width: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    color: $secondary;
    font-size: 15px;

    svg {
      path {
        fill: $secondary;
      }
    }

    &:hover {
      color: $primary;

      svg {
        path {
          fill: $primary;
        }
      }
    }

    &.active {
      color: $danger;

      svg {
        path {
          fill: $danger;
        }
      }
    }

    .icon {
      padding-right: 0.5rem;
      flex-shrink: 0;
      line-height: 0;
      margin-top: -1px;

      svg {
        height: 14px;
        width: 14px;
        text-align: center;
      }
    }

    .caret {
      padding-left: 0.5rem;
      margin-left: auto;

      svg {
        height: 4px;
        flex-shrink: 0;
      }
    }
  }

  .submenu {
    list-style: none;
    // margin: 0 0 0.5rem 0;
    margin: 0;
    padding: 0;

    li {
      &:last-of-type {
        margin-bottom: 0.5rem;
      }
    }

    .nav-link {
      color: $dark;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 13px;

      &.active,
      &:hover {
        color: $primary;
      }
    }
  }
}

.linebar {
  font-family: "Montserrat";

  .nav-link {
    padding: 0.5rem 2rem 0.5rem 0;
    color: $secondary;
    font-size: 15px;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $danger;
    }
  }
}

.address-card {
  &-caption {
    background-image: url("../img/addres-item-bg.svg");
    background-size: 128px;
    background-position: bottom 24px right 24px;
    background-repeat: no-repeat;
  }

  &-title {
    @include font-size(20px);
  }
}

.address {
  &-title {
    font-size: 13px;
    margin-bottom: 1px;
  }

  &-value {
    font-size: 15px;
  }
}

.map {
  height: 100%;
  min-height: 500px;

  &_department {
    min-height: 400px;
  }
}

.feature {
  &-title {
    font-size: 1.25rem;
  }

  &-text {
    font-family: "Roboto";
    font-size: 14px;
  }

  &-img {
    width: 100px;
  }
}

.doctor-card {
  flex-direction: column;

  .ratio {
    margin-bottom: 1rem;
  }

  &-img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: $transition-base;
  }

  &-title {
    line-height: 1.45;
    font-size: 15px;
    margin-bottom: 0.5rem;
  }

  &-job {
    font-size: 12px;
  }

  &-exp {
    font-size: 12px;
  }

  &-achieve {
    font-size: 11px;
    margin: 0 4px 4px 0;
  }

  &:hover {
    .doctor-card {
      &-img {
        transform: scale(1.05);
      }
    }
  }
}

.section-about {
  position: relative;
  z-index: 1;

  &-img {
    position: absolute;
    left: 70%;
    bottom: -3rem;
    z-index: -1;

    img {
      height: 500px;
      width: auto;
    }
  }
}

.stat-item {
  position: relative;
  z-index: 1;

  &-score {
    font-size: 38px;
    line-height: 1;
  }

  &-text {
    font-size: 14px;
    line-height: 1.25;
  }

  &-img {
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    z-index: -1;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.ratio-9x16 {
  width: 55%;
}

.title-dashed {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 64px;
    background-color: $danger;
    border-radius: 5px;
  }
}

.rate-item {
  height: 100%;
  position: relative;
  z-index: 1;

  &-score {
    line-height: 1;
    font-size: 48px;
  }

  &-img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    z-index: -1;

    img {
      height: 100%;
      width: auto;
    }
  }

  &-title {
    line-height: 1.25;
    margin-bottom: 1px;
  }

  &-count {
    font-size: 13px;
  }
}

.form-control {
  &__no-border {
    border-color: $white;
  }

  &__gray {
    background-color: $gray-200;
    border-color: $gray-200;
  }
}

.cta {
  &-text {
    font-size: 17px;
    font-family: "Roboto";
    color: desaturate($secondary, 10%);
  }

  &-img {
    height: 100%;

    &-wrap {
      position: absolute;
      right: 0;
      bottom: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.social-link {
  width: 32px;
  height: 32px;
  border-radius: $border-radius;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
  transition: background-color 0.15s ease-in-out;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: $link-hover-color;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.breadcrumb-item {
  font-family: "Roboto";

  a {
    text-decoration: none;
    color: $black;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}

.doc-hero {
  background-image: url("../img/doctor-hero-bg.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: bottom right;

  &-badge {
    font-size: 14px;
    padding: 4px 12px;
  }

  &-img {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  &-name {
    line-height: 1.35;
    font-size: 2rem;
  }

  &-surname {
    font-size: 2.5rem;
  }

  &-text {
    font-family: "Roboto";
    font-size: 15px;
  }
}

.child-icon {
  img {
    margin-top: -5px;
    height: 24px;
    width: auto;
  }
}

.doc-sales-slider {
  .swiper-slide {
    &:nth-of-type(3n-2) {
      .sale-badge {
        background-image: url("../img/doc-sale-icon-1.svg");
      }
    }

    &:nth-of-type(3n-1) {
      .sale-badge {
        background-image: url("../img/doc-sale-icon-2.svg");
      }
    }

    &:nth-of-type(3n-3) {
      .sale-badge {
        background-image: url("../img/doc-sale-icon-3.svg");
      }
    }
  }

  .card {
    min-height: 112px;

    &-title {
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}

.sale-badge {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  width: 44px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.license-thumb {
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.license-name {
  font-family: "Roboto";
  font-size: 15px;
}

.gallery-item {
  &-play-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 56px;
      fill: $white;
      fill-opacity: 0.75;
      transition: $transition-base;
    }
  }

  &:hover {
    .gallery-item {
      &-play-icon {
        svg {
          fill-opacity: 1;
        }
      }
    }
  }
}

.service-item {
  background-color: $white;
  padding: 1.5rem;
  border-radius: $border-radius-lg;
  margin-bottom: 1rem;
  box-shadow: $box-shadow;

  &:last-of-type {
    margin-bottom: 0 !important;
  }

  &-title {
    line-height: 1.3;
  }

  &-text {
    font-family: "Roboto";
    font-size: 13px;
  }

  &-badge {
    font-size: 12px;
  }

  .old-price {
    text-align: right;
    font-size: 12px;
  }

  .current-price {
    text-align: right;
    font-size: 20px;
  }

  .btn-to-calc {
    line-height: 0;

    .icon {
      svg {
        height: 16px;
      }
    }
  }

  .spaced-link {
    display: flex;
    line-height: 1;
    transition: color 0.15s ease-in-out;
  }

  .spaced-link,
  .btn {
    position: relative;
    z-index: 2;
  }
}

.bg-white {
  .service-item {
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid $gray-200;

    &:last-of-type {
      padding: 0 0 0 0;
      border-bottom: none;
    }

    &-title {
      font-size: 14px;
    }
  }
}

.footer {
  &-links {
    font-size: 14px;
    border-bottom: 1px solid #c9e1eb;
  }

  &-text {
    font-size: 12px;
  }
}

.form-success {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
}

.btn-to-calc {
  padding: 0;
  border: none !important;
  border-radius: 0;

  .icon {
    svg {
      height: 20px;

      path {
        fill: $primary;
      }
    }
  }

  &:hover {
    .icon {
      svg {
        path {
          fill: $link-hover-color;
        }
      }
    }
  }
}

.calc-btn {
  bottom: 1rem;
  right: 1rem;
  z-index: 10;

  &__container {
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 0.95rem;
    background-color: $secondary;
    color: $white;
    transition: background-color 0.15s ease-in-out;

    svg {
      path {
        fill: $white;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: darken($secondary, 10%);
    }
  }

  &__badge {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: $danger;
    border: 1px solid $gray-100;
    font-size: 0.75rem;
    line-height: 1;
    height: 21px;
    min-width: 21px;
    border-radius: 11px;
    margin: -7px 0 0 -9px;
  }
}

.calc {
  position: fixed;
  z-index: 11;
  right: 5.5rem;
  bottom: 1rem;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;

  &__close {
    transition: none;

    svg {
      path {
        fill: $secondary;
      }
    }

    &:hover {
      svg {
        path {
          fill: $danger;
        }
      }
    }
  }

  &__dialog {
    width: 300px;
  }

  &__body {
    overflow-y: auto;
    max-height: 380px;
    overscroll-behavior-y: contain;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-300;
      border-radius: 999px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.calc-table {
  margin: 0;

  td {
    border: none;
  }
}

.calc-item {
  &__name {
    padding: 0 16px 16px 0 !important;

    a {
      display: block;
      line-height: 1.1rem;
      text-decoration: none;
      color: $dark;

      &:hover {
        color: $primary;
      }
    }
  }

  &__price {
    text-align: right;
    padding: 0 8px 16px 0 !important;
    line-height: 1.1rem;
    pointer-events: none;
  }

  &__remove {
    padding: 0 0 16px 0 !important;

    a {
      display: block;
      text-align: center;
      transition: none;
      line-height: 1;

      svg {
        path {
          fill: $gray-500;
        }
      }

      &:hover {
        svg {
          path {
            fill: $danger;
          }
        }
      }
    }
  }
}

.profile-item {
  transition: box-shadow 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba($primary, 0.13) !important;
  }
}

.error-code {
  font-size: 10rem;
}

.error-text {
  font-size: 1.125rem;
}

.error-img {
  max-height: 500px;
  max-width: 100%;
}

.img {
  &-image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform 0.15s ease-in-out;
  }
}

.department-link {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-200;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  &-title {
    transition: color 0.15s ease-in-out;
  }

  &-text {
    font-family: "Roboto";
    font-size: 13px;
  }
}

.form-wizard {
  &-step {
    &-title {
      font-size: 1.5rem;
    }

    &-scroll {
      height: 360px;
      overflow-y: auto;
      overscroll-behavior-y: contain;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 999px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-300;
        border-radius: 999px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
      }
    }

    .accordion-title {
      font-size: 15px;
    }
  }
}

.doc-sm {
  width: 100%;

  .img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;

    &-image {
      object-position: 50% 0%;
    }
  }

  &-name {
    font-size: 15px;
    line-height: 1.35;
  }

  &-job {
    font-family: "Roboto";
    font-size: 13px;
    margin-bottom: 2px;
  }

  &-achieve {
    font-family: "Roboto";
    font-size: 13px;
    margin-bottom: 2px;
  }

  &-exp {
    font-family: "Roboto";
    font-size: 13px;
  }
}

.doc-xs {
  width: 100%;

  .img {
    flex-shrink: 0;
    width: 48px;
    height: 48px;

    &-image {
      object-position: 50% 0%;
    }
  }

  &-name {
    line-height: 1.35;
    font-size: 12px;
  }

  &-job {
    font-size: 11px;
  }
}

.doc-radio {
  transition: background-color 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: lighten($light-blue, 4%);
  }
}

.service-radio {
  font-size: 15px;

  width: 100%;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: lighten($light-blue, 4%);
  }
}

.btn-check {
  &:checked+.doc-radio {
    background-color: $light-blue;
  }

  &:checked+.service-radio {
    background-color: $light-blue;
    color: $secondary;
  }
}

.form-check-label {
  font-size: 15px;
}

.hidden {
  display: none;
}

.steps-status {
  font-size: 14px;
  color: $gray-600;
}

.completed-step {
  font-size: 13px;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $gray-200;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
}

.appointment-total-item {
  margin-bottom: 0.75rem;
  font-size: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.filial-filter-disabled-caption {
  font-family: "Roboto";
  font-size: 11px;
  opacity: 0.5;
  pointer-events: none;
}

.accordion {
  &-header {
    .caret {
      svg {
        height: 6px;
        width: auto;
        transition: transform 0.15s ease-in-out;
      }
    }

    &:hover {
      .caret {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }

    &-caption {
      display: block;
      font-family: "Roboto";
      font-size: 11px;
    }
  }

  &-title {
    transition: color 0.15s ease-in-out;
  }

  &.active {
    .accordion {
      &-title {
        .caret {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.disabled {
    opacity: 0.6;

    * {
      pointer-events: none;
    }

    .caret {
      display: none;
    }
  }
}

.show-more-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 100%;
  width: 24px;

  svg {
    height: 6px;
    width: auto;

    path {
      fill: $secondary;
    }
  }

  &:hover {
    svg {
      path {
        fill: $primary;
      }
    }
  }
}

.hour-more {
  &.show {
    .show-more-hours {
      svg {
        transform: rotate(180deg);
      }
    }

    .hour-more-dots {
      display: none;
    }
  }
}

.appointment-filial-result {
  font-size: 15px;
}

@include media-breakpoint-down(xxl) {
  .rate-item {
    &-score {
      font-size: 38px;
    }

    &-title {
      font-size: 15px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .xl-shadow {
    box-shadow: $box-shadow;
  }

  .bg-xl-white {
    background-color: $white;
  }

  .main-banner {
    min-height: 480px;
    flex-direction: column;

    &-img {
      width: 100%;

      &:after {
        background: linear-gradient(180deg, rgba($white, 0) 50%, rgba($white, 1) 100%);
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .main-banner {
    .btn {
      width: auto;
    }
  }

  .doc-hero {
    &-name {
      font-size: 1.75rem;
    }

    &-surname {
      font-size: 2rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .bg-lg-white {
    background-color: $white;
  }

  .lg-shadow {
    box-shadow: $box-shadow;
  }

  .main-slider {
    overflow: hidden;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow;
  }

  .swiper {
    .sale-banner {
      border-radius: 0;
      box-shadow: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .article {
    @include font-size(0.9375rem);

    h1 {
      margin-bottom: 1rem;
    }

    table {
      @include font-size(0.875rem);
      margin-bottom: 1.25rem;
    }
  }

  .logo {
    &-header {
      height: 34px;
    }
  }

  .phone {
    &-header {
      font-size: 15px;
      line-height: 1;
    }
  }

  .schedule {
    font-size: 10px;
  }

  .swiper {
    overflow: visible;
  }

  .sale-banner {
    margin-bottom: 1.5rem;

    &-img {
      width: 240px;
    }

    &-text {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &-title {
      font-size: 1.5rem;
    }

    &-list {
      font-size: 13px;
    }

    &-badge {
      font-size: 12px;
    }

    &-date {
      font-size: 12px;
    }
  }

  .main-slider {
    .sale-banner {
      &-img {
        min-height: 320px;
      }
    }
  }

  .feature {
    &-title {
      font-size: 1rem;
    }

    &-text {
      font-size: 13px;
    }

    &-img {
      width: 84px;
    }
  }

  .nav-mobile-scroll {
    position: relative;
    font-weight: 600;
    border-bottom: 1px solid $gray-300;
    border-radius: 0 !important;

    >* {
      overflow-x: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        width: 4rem;
        background: linear-gradient(90deg, rgba($body-bg, 0) 0%, rgba($body-bg, 1) 100%);
        z-index: 2;
      }
    }

    .nav {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .nav-link {
      white-space: nowrap;
      padding: 1rem 1.5rem 1rem 0;
    }

    .nav-item {
      &:last-of-type {
        .nav-link {
          padding-right: 4rem !important;
        }
      }
    }
  }

  .bg-white {
    .nav-mobile-scroll {
      >* {
        &:after {
          background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 1) 100%);
        }
      }
    }
  }

  .error-img {
    max-height: 400px;
  }

  .error-code {
    font-size: 5.5rem;
  }

  .error-text {
    font-size: 15px;
  }

  .sub-bar {
    .nav {
      .nav-item {
        .nav-link {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .article {
    @include font-size(0.875rem);

    h6 {
      font-size: 14px;
    }

    h5 {
      font-size: 16px;
    }

    h4 {
      font-size: 18px;
    }

    h3 {
      font-size: 20px;
    }

    h2 {
      font-size: 22px;
    }

    h1 {
      font-size: 24px;
    }

    .caption {
      font-size: 0.75rem;
    }

    table {
      @include font-size(0.75rem);
      margin-bottom: 1rem;

      caption {
        font-size: 0.75rem;
      }

      &> :not(caption)>*>* {
        padding: 0.25rem;
      }
    }
  }

  .sale-banner {
    &-img {
      width: 100%;
      height: 240px;
      min-height: 240px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white;
        background: linear-gradient(180deg, rgba($white, 0) 50%, rgba($white, 1) 100%);
      }
    }

    &-text {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    &-title {
      font-size: 1.25rem;
    }

    &-list {
      font-size: 12px;

      li {
        margin-bottom: 0.75rem;
      }
    }
  }

  .main-banner {
    flex-direction: column;

    &-img {
      width: 100%;
      height: 240px;
      min-height: 240px;

      &:after {
        background: linear-gradient(180deg, rgba($white, 0) 50%, rgba($white, 1) 100%);
      }
    }
  }

  .license-thumb {
    width: 64px;
  }

  .license-name {
    font-size: 13px;
  }

  .error-code {
    font-size: 6rem;
  }

  .error-text {
    font-size: 1rem;
  }

  .form-check-label {
    font-size: 14px;
  }

  .service-radio {
    font-size: 12px;
  }

  .doc-sm {
    .img {
      width: 48px;
      height: 48px;
    }

    &-name {
      font-size: 12px;
    }

    &-job {
      font-size: 11px;
    }

    &-achieve {
      font-size: 11px;
    }

    &-exp {
      font-size: 11px;
    }
  }

  .address {
    &-title {
      font-size: 12px;
      margin-bottom: 0;
    }

    &-value {
      font-size: 14px;
    }
  }

  .appointment-total-item {
    margin-bottom: 0.75rem;
    font-size: 13px;
  }

  .error-img {
    max-height: 240px;
  }

  .service-item {
    padding: 1rem 1rem 0 1rem;

    &-title {
      font-size: 15px;
    }

    &-text {
      font-size: 11px;
    }

    &-badge {
      font-size: 10px;
    }

    &-btns {
      padding-bottom: 2px;
    }

    .old-price {
      text-align: left;
      font-size: 11px;
    }

    .current-price {
      text-align: left;
      font-size: 18px;
    }
  }

  .bg-white {
    .service-item {
      padding: 0 0 0 0;
    }
  }

  .doctor-card {
    align-items: start;
    flex-direction: row;

    .ratio {
      width: 64px;
      margin-right: 0.75rem;
      margin-bottom: 0;
    }

    &-title {
      line-height: 1.3;
      font-size: 14px;
      margin-bottom: 4px;
    }

    &-job {
      font-size: 10px;
    }

    &-exp {
      font-size: 10px;
    }

    &-achieve {
      font-size: 10px;
    }
  }

  .swiper {
    .doctor-card {
      align-items: stretch;
      flex-direction: column;

      .ratio {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.75rem;
      }

      &-title {
        margin-bottom: 8px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .scroll-to-top {
    display: none !important;
  }

  .fs-10 {
    font-size: 11px !important;
  }

  .calc {
    right: 1rem;
    left: 1rem;

    &__dialog {
      width: 100%;
    }

    &__body {
      max-height: 60vh;
    }
  }

  .feature {
    &-img {
      width: 64px;
    }
  }

  .error-code {
    font-size: 5rem;
  }

  .error-text {
    font-size: 0.875rem;
  }

  .form-wizard {
    &-step {
      &-title {
        font-size: 1.25rem;
      }
    }
  }

  .completed-step {
    font-size: 11px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .doc-xs {
    &-job {
      font-size: 10px;
    }
  }

  .sale-banner {
    margin-bottom: 1rem;

    &-text {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .main-banner {
    .btn {
      width: 100%;
    }
  }

  .cta {
    &-title {
      font-size: 1.5rem;
    }

    &-text {
      font-size: 15px;
    }
  }

  .logo {
    &-footer {
      width: 280px;
      max-width: 100%;
      height: auto;
    }
  }

  .schedule {
    font-size: 10px;
  }

  .pagination {
    .page-item {
      .page-link {
        font-size: 0.75rem;
      }
    }
  }

  .doc-hero {
    &-badge {
      font-size: 12px;
    }

    &-name {
      font-size: 1.25rem;
    }

    &-surname {
      font-size: 1.75rem;
    }

    &-text {
      font-size: 14px;
    }
  }
}